<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <a href="/">< Back</a>
  <div class="blogs content">
    <h1 id="blog_title">Blog Title</h1>
    <h4 id="blog_author">By: Blog Author</h4>
    <p id="blog_body">Blog Body</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    let pathname = window.location.pathname;
    blogId = pathname.substr(pathname.lastIndexOf("/") + 1);
    fetch(`https://jsonplaceholder.typicode.com/posts/${blogId}`)
      .then(response => response.json())
      .then(json => {
        document.getElementById("blog_title").innerHTML = json["title"];
        document.getElementById("blog_body").innerHTML = json["body"];

        fetch(`https://jsonplaceholder.typicode.com/users/${json["userId"]}`)
          .then(response => response.json())
          .then(json => {
            document.getElementById("blog_author").innerHTML = `<a href="/users#${json["username"]}">By: ${json["name"]}</a>`;
          })
      });
  </script>

  <%- include("./partials/footer.ejs") %>
</body>
</html>